CopRevenueGov2/Web References/UOList_RTTIE034_SrvRef/TT034E00.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://namespace.softwareag.com/entirex/xml/mapping" xmlns:sn0="urn:com-softwareag-entirex-rpc:TIPSACCT-TT034E00" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="TT034E00" targetNamespace="http://namespace.softwareag.com/entirex/xml/mapping" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:com-softwareag-entirex-rpc:TIPSACCT-TT034E00">
      <xsd:element name="TT034E00Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_SMA">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="_PROGRAM">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="SYSTEM-ERROR">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="7" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="ERROR-LINE">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="4" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="MESSAGE">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="60" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="_E-REQ">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="ENTITY-ID">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="11" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="ACCOUNT-ID">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="_E-LIST">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="_UOL-ACCOUNTSs">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="395" name="_UOL-ACCOUNTS">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="ACCOUNT-ID-X">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element minOccurs="0" name="ACCOUNT-ID">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="9" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="ANNUAL-ELIGIBLE">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="ASSESSMENT-IND">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="FILLER-X">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="BRT-NUMBER">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="9" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="LOCATION">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="START-DATE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="8" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="END-DATE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="8" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="FREQ-TABLE">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element minOccurs="0" name="FREQs">
                                      <xsd:complexType>
                                        <xsd:sequence>
                                          <xsd:element minOccurs="0" maxOccurs="10" name="FREQ">
                                            <xsd:complexType>
                                              <xsd:sequence>
                                                <xsd:element minOccurs="0" name="FREQ-CODE">
                                                  <xsd:simpleType>
                                                    <xsd:restriction base="xsd:string">
                                                      <xsd:maxLength value="1" />
                                                    </xsd:restriction>
                                                  </xsd:simpleType>
                                                </xsd:element>
                                              </xsd:sequence>
                                            </xsd:complexType>
                                          </xsd:element>
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TT034E00">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_E-REQ">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="ENTITY-ID">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="11" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="ACCOUNT-ID">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="_E-LIST">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="_UOL-ACCOUNTSs">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="395" name="_UOL-ACCOUNTS">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="ACCOUNT-ID-X">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element minOccurs="0" name="ACCOUNT-ID">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="9" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="ANNUAL-ELIGIBLE">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="ASSESSMENT-IND">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="FILLER-X">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1" />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="BRT-NUMBER">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="9" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="LOCATION">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="START-DATE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="8" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="END-DATE">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="8" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="FREQ-TABLE">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element minOccurs="0" name="FREQs">
                                      <xsd:complexType>
                                        <xsd:sequence>
                                          <xsd:element minOccurs="0" maxOccurs="10" name="FREQ">
                                            <xsd:complexType>
                                              <xsd:sequence>
                                                <xsd:element minOccurs="0" name="FREQ-CODE">
                                                  <xsd:simpleType>
                                                    <xsd:restriction base="xsd:string">
                                                      <xsd:maxLength value="1" />
                                                    </xsd:restriction>
                                                  </xsd:simpleType>
                                                </xsd:element>
                                              </xsd:sequence>
                                            </xsd:complexType>
                                          </xsd:element>
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TT034E00SoapOut">
    <wsdl:part name="parameters" element="sn0:TT034E00Response" />
  </wsdl:message>
  <wsdl:message name="TT034E00SoapIn">
    <wsdl:part name="parameters" element="sn0:TT034E00" />
  </wsdl:message>
  <wsdl:portType name="TIPSACCTPort">
    <wsdl:operation name="TT034E00">
      <wsdl:input message="tns:TT034E00SoapIn" />
      <wsdl:output message="tns:TT034E00SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TIPSACCTSOAP11Binding" type="tns:TIPSACCTPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TT034E00">
      <soap:operation soapAction="TT034E00" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TIPSACCTSOAP12Binding" type="tns:TIPSACCTPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TT034E00">
      <soap12:operation soapAction="TT034E00" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TT034E00">
    <wsdl:port name="TIPSACCTSOAP12Port" binding="tns:TIPSACCTSOAP12Binding">
      <soap12:address location="http://192.168.204.70:10010/wsstack/services/TT034E00.TIPSACCTSOAP12Port/" />
    </wsdl:port>
    <wsdl:port name="TT034E00HttpsSoap12Endpoint" binding="tns:TIPSACCTSOAP12Binding">
      <soap12:address location="https://192.168.204.70:10011/wsstack/services/TT034E00.TT034E00HttpsSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="TIPSACCTSOAP11Port" binding="tns:TIPSACCTSOAP11Binding">
      <soap:address location="http://192.168.204.70:10010/wsstack/services/TT034E00.TIPSACCTSOAP11Port/" />
    </wsdl:port>
    <wsdl:port name="TT034E00HttpsSoap11Endpoint" binding="tns:TIPSACCTSOAP11Binding">
      <soap:address location="https://192.168.204.70:10011/wsstack/services/TT034E00.TT034E00HttpsSoap11Endpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>